{% load widget_tweaks %}
{% load static %}

<html lang="fa">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>فرم شکایت </title>
    <link href="{% static 'course/css/conect.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
</head>
<body>

<div>{% include 'course/navbar.html' with current_date=current_date %}</div>
<div>  {% include 'includes/messages_block.html' %}</div>
<div class="body">

    <div class="container_conect">
        <form action="" method="post" autocomplete="off" class="content-left" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="content-left-title">
                <h2 class="title">فرم شکایت</h2>

            </div>
            <div class="user-details">
                <div class="input-box">
                    <label class="detail">نام و نام خانوادگی:</label>
                    {{ form.first_lastname|add_class:"input" }}
                    {% if form.first_lastname.errors %}
                        <div class="error-message">
                            {{ form.first_lastname.errors }}
                        </div>
                    {% endif %}

                </div>
                <div class="input-box">
                    <label class="detail">کدملی:</label>
                    {{ form.national_code|add_class:"input" }}
                    {% if form.national_code.errors %}
                        <div class="error-message">
                            {{ form.national_code.errors }}
                        </div>
                    {% endif %}

                </div>
                <div class="mehvar_details">
                    <span class="mehvar_title">محور شکایت:</span>
                    <div class="category">
                        {% for value, label in form.mehvar.field.choices %}
                            <label>
                                <input type="checkbox" name="{{ form.mehvar.name }}" value="{{ value }}"
                                       {% if form.mehvar.value == value %}checked{% endif %} class="input">
                                {{ label }}
                            </label>
                        {% endfor %}
                    </div>
                </div>
                <div class="subject_details">
                    <span class="subject_title">موضوع:</span>
                    <div class="category">
                        {% for value, label in form.subject.field.choices %}
                            <label>
                                <input type="radio" name="{{ form.subject.name }}" value="{{ value }}"
                                       {% if form.subject.value == value %}checked{% endif %} class="input">
                                {{ label }}
                            </label>
                        {% endfor %}
                    </div>
                </div>

                <div class="input-box">
                    <label class="detail">شماره تماس:</label>
                    {{ form.phone_number|add_class:"input" }}
                    {% if form.phone_number.errors %}
                        <div class="error-message">
                            {{ form.phone_number.errors }}
                        </div>
                    {% endif %}

                </div>

                <div class="input-box">
                    <label class="detail">موضوع:</label>
                    {{ form.title|add_class:"input" }}
                    {% if form.title.errors %}
                        <div class="error-message">
                            {{ form.title.errors }}
                        </div>
                    {% endif %}

                </div>
                <div class="input-box">
                    <label class="detail">متن پیام:</label>
                    {{ form.text|add_class:"input1" }}
                    {% if form.text.errors %}
                        <div class="error-message">
                            {{ form.text.errors.0 }}
                        </div>
                    {% endif %}

                </div>
                {% include 'captcha/captcha.html' %}

                <input type="submit" value="ارسال" class="button">
            </div>
        </form>


    </div>
</div>
{% include 'course/footer.html' %}
</body>
</html>