{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'course/css/detail.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'post/css/show-posts.css' %}" rel="stylesheet">

    <style>
        .circle {
            background: url('{{ course.thumbnail.url }}');
            background-size: cover;

        }
    </style>
</head>
<body>
{% include 'course/navbar.html' %}
<div class="body">
    <div class="container">
        <div class="circle"></div>
        <form method="post" action="{% url 'course:choices' %}" id="form">
            {% csrf_token %}


            <br>
            <h1>عنوان دوره:{{ course.title }}</h1>
            <p>
            <div class="teacher"> مدرس:{{ course.teacher }}</div>
            <br>
            <div> {{ course.picture }}</div>
            <br>
            <div>
                <div class="teacher">توضیحات:</div>
                {{ course.description|linebreaks }}</div>
            <br>
            <div>
                <div class="teacher"> تاریخ شروع:</div>
                {{ course.jstart }}</div>
            <br>
            <div>
                <div class="teacher">تاریخ پایان:</div>
                {{ course.jend }}</div>
            <br>
            <div>
                <div class="teacher">ساعت استاندارد:</div>
                {{ course.ptime }} ساعت
            </div>
            <br>
            <div>
                <div class="teacher">نام مرکز دولتی:</div>
                {{ course.govermentcenter }}</div>
            <br>
            <div>
                <div class="teacher">کارگاه/اموزشگاه:</div>
                {{ course.workshop }}</div>
            <br>
            <div>
                <div class="teacher">جنسیت کلاس:</div>
                {#            {{ course.gender }}#}
                {% if course.gender == 'w' %}
                    <span>زن</span>
                {% elif course.gender == 'm' %}
                    <span>مرد</span>
                {% elif course.gender == 'wm' %}
                    <span>زن و مرد</span>
                {% endif %}
            </div>
            <br>

            </p>


            <input type="hidden" name="course_id" value="{{ course.id }}">
            {% if selected %}



            {% else %}
                {% if user.gender in  course.gender %}
                    <button class="choice-course btn btn-primary" type="submit"> انتخاب درس</button>

                {% else %}
                    <label>این درس برای شما تعریف نشده است.</label>
                {% endif %}


            {% endif %}


        </form>
        {% if selected %}

            <button class="delete-course btn btn-secondary" data-course-id="{{ selected.id }}">حذف درس منتخب</button>


        {% endif %}


    </div>
</div>
{% include 'course/footer.html' %}
</body>
</html>

<script src="{% static 'course/js/detail.js' %}"></script>

