{% load static %}
{% load base_tags %}
{#----------------navbar-------------------- #}
{% block navbar %}

    <div class="header_top">


        <img src="{% static 'course/img/سال.png' %}" alt="شعار سال" width="196"
             height="110" class="sal">

        <a class="logo" aria-label="title" target="_self">
            <img src="{% static 'gallery/svg/logo-animate_1.svg' %}" type="image/svg+xml" width="240"
                 height="116" alt="logo title">
        </a>


        <div class="header_top__left">
            <div class="date__today">

                تاریخ امروز: {{ current_date }}
            </div>
            <div class="account">
                <div>
                    {#<-----------login------------------->#}
                    {% if request.user.is_anonymous %}
                        <div class="logins">
                            <a class="icon" href="{% url 'account:login' %}">
                                ورود
                            </a>
                            <div class="slash">/</div>
                            <a class="icon" href="{% url 'account:register' %}">ثبت نام</a>

                        </div>
                    {% endif %}
                    <br>
                    {#<--------------------log out----------->#}
                    <form method="post" action="{% url 'account:logout' %}">
                        {% csrf_token %}
                        {% if request.user.is_authenticated %}
                            <button type="submit" id="svg">
                                <div class="logout">خروج</div>
                            </button>
                        {% endif %}
                    </form>


                </div>
                {% if request.user.is_authenticated %}

                    <a href="{% url 'account:password_change' %}">تغییر پسورد</a>


                {% endif %}
            </div>
        </div>


    </div>



    <header class="header">
        <div class="menubar">
            <img src="{% static 'course/svg/menu.svg' %}" class="menu">
            <a href="{% url 'course:home' %}" class="logo"><i class="fas fa-shopping-basket">مرکز فنی حرفه ای ۱۴ جم</i></a>
        </div>

        <nav class="navbar dropdown-menu">

            {% if request.user.is_authenticated %}

                <a href="{% url 'account:user_selected_courses' %}">دروس انتخابی</a>
                <a href="{% url 'course:conect' %}">ارتباط با مسولین</a>
                <a href="{% url 'account:profile' %}">پروفایل</a>
                {% if user.is_admin %}
                    <a href="{% url 'course:create_course' %}">ایجاد دوره</a>
                {% endif %}
                {#                                    <a href='{% url 'posts:list' %}'>پست ها</a>#}
                {#                                    <a href='{% url 'gallery:galleries' %}'>گالری</a>#}
                {#                                    <div href="#" class="about-us">درباره ما#}

            {% endif %}
            <a href='{% url 'posts:list' %}'>پست ها</a>
            <a href='{% url 'gallery:galleries' %}'>گالری</a>
            <div href="#" class="about-us">درباره ما

            

                <div class="submenu">
                    <li>
                          <a href="{% url 'account:employee-list' %}" >لیست کارمندان</a>
                    </li>
                       <li>
                          <a href="{% url 'account:jam_about' %}" >آموزشگاه دولتی</a>
                    </li>
                       <li>
                          <a href="{% url 'course:free_school' %}" >آموزشگاه آزاد</a>
                    </li>

                </div>
            </div>


        </nav>
        </a>
        <div class="icons">


        </div>
    </header>
    <script src="{% static 'course/js/menu.js' %}"></script>
{% endblock %}