{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>کارمندان</title>
    <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
</head>
<body>
{% include 'course/navbar.html' %}

<section class="features" id="features">
    <h1 class="heading">کارمندان</h1>
    <div class="box-container">
        {% for employee in employees %}


            <div class="box start">

                {% if employee.thumbnail %}
                    <img src="{{ employee.thumbnail.url }}" alt="تصویر" style="    margin: 1rem 0;
    height: 15rem;
    border-radius: 9px;
}">

                {% else %}
                    <p>تصویر موجود نیست</p>
                {% endif %}


                <p style="    font-size: 1.6rem; color: #3c20ab;">نام و نام خانوادگی:{{ employee.full_name }}</p>
                <p>سمت:
                    {% if employee.department == 'IT' %}
                        کارشناس IT
                    {% elif employee.department == 'karamoz' %}
                        کارآموز
                    {% elif employee.department == 'modir_markaz' %}
                        مدیر مرکز
                    {% elif employee.department == 'moaven' %}
                        معاون
                    {% elif employee.department == 'moshaver' %}
                        مشاور
                    {% elif employee.department == 'morabi' %}
                        مربی
                    {% endif %}
                </p>
                <p>رشته تحصیلی:{{ employee.field }}</p>
                <p>{{ employee.description }}</p>


            </div>
        {% endfor %}
    </div>
</section>
{% include 'course/footer.html' %}
</body>
</html>