{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{{ post.title }}</title>
        <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
        <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
        <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
        <link href="{% static 'post/css/detail-post.css' %}" rel="stylesheet">
</head>
<body>
{% include 'course/navbar.html' %}
<div class="container">
<div class="title">{{ post.title }}</div>
<div class="content">{{ post.content|linebreaks }}</div>
<img src="{{ post.thumbnail.url }}" alt="{{ post.title }}">
<div class="created_at ">{{ post.jcreated_at}}</div>
</div>
{% include 'course/footer.html' %}
</body>
</html>