{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
        <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>پست ها</title>
        <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
        <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
        <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
        <link href="{% static 'post/css/list_post.css' %}" rel="stylesheet">
</head>
<body>
{% include 'course/navbar.html' %}
<div class="body">
<div class="container_post">
{% for post in post_list %}
    <div class="conten_post">
    <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="img">
        <div class="flex">
<a class="title" href="{% url 'posts:post' post.id %}">{{ post.title|truncatewords:10 }}</a>


<div class="created_at ">{{ post.jcreated_at}}</div></div></div>
   {% endfor %}
</div>
</div>
{% include 'course/footer.html' %}
</body>
</html>