
{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'course/css/activation.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">


<p>



 خوش آمدید!{{ user.username }}

با سلام و خوش آمدگویی به سایت پیش ثبت نام فنی حرفه ای، فضایی دوستانه و پر از امکانات برای تجربه‌ی شما. ما افتخار داریم که شما را در اینجا به عنوان یکی از اعضای خانواده‌ی ما می‌پذیریم.

در سایت پیش ثبت نام فنی حرفه ای، ما به دنبال ایجاد یک جامعه متنوع و پویا هستیم. اینجا جایی است که شما می‌توانید ایده‌ها، تجربیات و دانسته‌های خود را به اشتراک بگذارید و از تبادل دانش و اطلاعات با دیگر اعضا لذت ببرید.

هدف ما ایجاد یک محیط دوستانه و پشتیبانی از یادگیری و توسعه شخصی شماست. امیدواریم که اینجا برای شما تجربه‌ای خاص و مثبت باشد.

هر زمان که سوالی دارید یا به کمکی نیاز دارید، تیم پشتیبانی ما آماده است کمک کند. پیشنهاد می‌شود که اطلاعات حساب کاربری خود را به‌روز نگه دارید و از امکانات سایت به بهترین شکل ممکن استفاده کنید.

ممنون از حضور شما در سایت پیش ثبت نام فنی حرفه ای. ما امیدواریم که اینجا برای شما بهترین مکان باشد.

با تشکر،
</p>
<a href="{% url 'course:home' %}">وارد شوید </a>





    </div>
</body>
</html>


