{%load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>دروس انتخاب شده</title>
    <link rel="stylesheet" href="{% static 'blog/css/done.css' %}">
      <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">

</head>
<body>
<main class="table">
    <section class="table_header">
    <h>دروس انتخاب شده </h>
    </section>
        <section class="table_body">

        <table>
            <thead>
            <tr>
                <th>نام دوره</th>

                <th>مدرس</th>
                <th>تاریخ شروع</th>
                <th>نام مرکز دولتی</th>

            </tr>
            </thead>
            <tbody>
               {% for user_course in user_courses %}
            <tr>
                <td>{{ user_course.cours.title}}</td>

                <td>{{ user_course.cours.teacher}}</td>
                <td>{{ user_course.cours.jstart}}</td>
                <td>{{ user_course.cours.govermentcenter}}</td>
            </tr>
                  {% endfor %}
            </tbody>
        </table>
    </section>

</main>
</body>
</html>
