{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>باز یابی رمز عبور</title>
    <link href="{% static 'course/css/password_reset.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
         <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
</head>
<body>

<div>{% include 'course/navbar.html' with current_date=current_date %}</div>
<div>  {% include 'includes/messages_block.html' %}</div>

<div class="container">
    <div class="title">ارسال لینک بازیابی</div>
      <form action="" method="post" autocomplete="off" class="content-left" novalidate>
             {% csrf_token %}
          {% if form.non_field_errors %}
                        <div>
                            {% for error in form.non_field_errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% endif %}
        <div class="user-details">


                <div class="input-box">


                    <div class="comment">لطفا آدرس ایمیل خود را وارد کنید</div>
                    <span class="detail"> بازیابی رمز عبور </span>

                    {{ form.email|add_class:'input' }}<br>
                    {% if form.email.errors %}
                        <div class="error-message">
                            {{ form.email.error }}
                        </div>
                    {% endif %}

                    <div class="button">
                        <button type="submit" type="submit" style="width: 65vw;    margin: 17px 0px;">ارسال لینک بازیابی</button>
                    </div>
                    <br>
                </div>


            </div>



    </form>
</div>

{% include 'course/footer.html' %}
</body>
</html>