

{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'blog/css/password_chang.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'error/error.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/footer.css' %}" rel="stylesheet">


    <title>تغییر پسورد</title>
</head>
<body>
{% include 'blog/navbar.html'  %}
<div class="container">
    <div>  {% include 'includes/messages_block.html' %}</div>
    <div class="title">تغییر پسورد</div>
    <form action="#" method="post" novalidate>
        {% csrf_token %}
        {% if form.non_field_errors %}
            <div>
                {% for error in form.non_field_errors %}
                    <span>{{ error }}</span>
                {% endfor %}
            </div>
        {% endif %}
        <div class="user-details">


            <div class="input-box">
                <span for="id_old_password" class="detail">پسورد:</span>
                {{ form.old_password|add_class:'input' }}
                {% if form.old_password.errors %}
                    <div class="error_message">
                        {{ form.old_password.errors }}
                    </div>
                {% endif %}
            </div>
            <br>
            <div class="input-box">
                <span for="id_new_password1" class="detail">پسورد جدید:</span>
                {{ form.new_password1|add_class:'input' }}
                {% if form.new_password1.errors %}
                    <div class="error_message">
                        {{ form.new_password1.errors }}
                    </div>
                {% endif %}
            </div>
            <div class="input-box">
                <span for="id_new_password2" class="detail">پسورد جدید خود را مجدد وارد کنید:</span>
                {{ form.new_password2|add_class:'input' }}

                {% if form.new_password2.errors %}
                    <div class="error_message">
                        {{ form.new_password2.errors }}
                    </div>
                {% endif %}
            </div>
            <div>
                <div class="button">
                    <button type="submit">تغییر پسورد</button>
                </div>
            </div>


        </div>
    </form>

</div>

{% include 'blog/footer.html' %}
</body>
</html>
