{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'course/css/singup.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">


    <title> باز یابی رمز عبور</title>
</head>
<body>
<div class="cont">
    <div>  {% include 'includes/messages_block.html' %}</div>
    <div class="container">
        <div class="title"> باز یابی رمز عبور</div>


        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}



            {% if validlink %}
                <div class="user-details">


                <div class="input-box">
                    <span class="detail">گذر واژه:</span>
                    {{ form.new_password1|add_class:'input' }}
                    {% if form.new_password1.errors %}
                        <div class="error_message">
                            {{ form.new_password1.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>
                <div class="input-box">
                    <span class="detail">تایید گذر واژه:</span>
                    {{ form.new_password2|add_class:'input' }}
                    {% if form.new_password2.errors %}
                        <div class="error_message">
                            {{ form.new_password2.errors }}
                        </div>
                    {% endif %}
                </div>
                <div class="button">
                    <button >انجام</button>
                </div>
            {% else %}
                <p><a href="{% url 'account:password_reset' %}">کلیک کنید</a> لینک منقضی شده است برای بازیابی رمز عبور
                    دوباره<a></a></p>
            {% endif %}
            </div>
        </form>
    </div>
</div>
