{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'registration/login/css/reset_complated.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/footer.css' %}" rel="stylesheet">

</head>
<body>
{% include 'blog/navbar.html' %}
<div class="container">

<div class="containe">
    <p class="p">
        با سلام و احترام،

        این پیام به اطلاع شما می‌رساند که درخواست شما برای تغییر رمز عبور حساب کاربری شما با موفقیت انجام شده است. از
        این پس، لطفاً از رمز عبور جدید برای ورود به حساب خود استفاده کنید.

        اگر شما این درخواست را انجام نداده‌اید و یا این که مشکوک به فعالیت‌های غیرمعمول در حساب خود هستید، لطفاً به سرعت
        با پشتیبانی ما تماس بگیرید.

        اطلاعات حساب شما برای ما بسیار ارزشمند است و ما همواره در تلاش هستیم تا امنیت آن را حفظ کنیم.

        با تشکر از همکاری شما،

        <a href="{% url 'blog:home' %}">برای بازگشت به سایت کلیک کنید</a>

    </p>
</div>

</div>
{% include 'blog/footer.html' %}
</body>
</html>