


{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'blog/css/activation.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/footer.css' %}" rel="stylesheet">

</head>
<body>
{% include 'blog/navbar.html' with current_date=current_date%}
<div class="container">
    <p>

        {{ user.username }}عزیز,
        پسورد شما با موفقیت تغییر کرد.

    </p>


</div>
{% include 'blog/footer.html' %}
</body>
</html>
