{#<form method="post">#}
{#    {% csrf_token %}#}
{##}

{##}
{#    <div>#}
{#        <label for="id_new_password1">New Password:</label>#}
{#        {{ form.new_password1 }}#}
{#        {% if form.new_password1.errors %}#}
{#            {% for error in form.new_password1.errors %}#}
{#                <div class="error">{{ error }}</div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#    <div>#}
{#        <label for="id_new_password2">Confirm New Password:</label>#}
{#        {{ form.new_password2 }}#}
{#        {% if form.new_password2.errors %}#}
{#            {% for error in form.new_password2.errors %}#}
{#                <div class="error">{{ error }}</div>#}
{#            {% endfor %}#}
{#        {% endif %}#}
{#    </div>#}
{##}
{#    <button type="submit">Change Password</button>#}
{#</form>#}

{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'blog/css/password_chang.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">

    <title>تغییر پسورد</title>
</head>
<body>
<div class="container">
    <div class="title">تغییر پسورد</div>
    <form action="#" method="post">
        <div class="user-details">
            <div class="input-box">
                <form method="post">
                    {% csrf_token %}


                    <div class="input-box">
                        <span for="id_old_password" class="detail">پسورد:</span>
                        {{ form.old_password|add_class:'input' }}
                        {% if form.old_password.errors %}
                            {% for error in form.old_password.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <br>
                    <div class="input-box">
                        <span for="id_new_password1" class="detail">پسورد جدید:</span>
                        {{ form.new_password1|add_class:'input' }}
                        {% if form.new_password1.errors %}
                            {% for error in form.new_password1.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
                    <div class="input-box">
                        <span for="id_new_password2" class="detail">پسورد جدید خود را مجدد وارد کنید:</span>
                        {{ form.new_password2|add_class:'input' }}
                        {% if form.new_password2.errors %}
                            {% for error in form.new_password2.errors %}
                                <div class="error">{{ error }}</div>
                            {% endfor %}
                        {% endif %}
                    </div>
<div>
    <div class="button">
    <button type="submit">Change Password</button>
    </div>
            </div>
    </form>
</div>


</body>
</html>
