{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پروفایل</title>
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'registration/profile/css/profile.css' %}" rel="stylesheet">
</head>
<body>    <div>  {% include 'includes/messages_block.html' %}</div>
<div class="container">


    <div class="container">

        <h2 class="title">پروفایل کاربری</h2>

        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}

            <div class="user-details">
                <div class="input-box">
                    <span class="detail">ایمیل:</span>
                    {{ form.email|add_class:'input' }}
                    {% if form.email.errors %}
                        <div class="error_message">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>


                <div class="input-box">
                    <span class="detail">نام کاربری:</span>
                    {{ form.username|add_class:'input' }}
                    {% if form.username.errors %}
                        <div class="error_message">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>
                <div class="input-box">
                    <span class="detail">نام:</span>
                    {{ form.first_name|add_class:'input' }}
                    {% if form.first_name.errors %}
                        <div class="error_message">
                            {{ form.first_name.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>
                <div class="input-box">
                    <span class="detail">نام خانوادگی:</span>
                    {{ form.last_name|add_class:'input' }}
                    {% if form.last_name.errors %}
                        <div class="error_message">
                            {{ form.last_name.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="input-box">
                    <span class="detail1">شماره موبایل:</span>
                    <input class="input1" type="text" name="phone_number" value="{{ form.phone_number.value }}"
                           {% if form.phone_number.value %}readonly{% endif %}>
                </div>
                <br>



                <div class="input-box">
                    <span class="detail1">کدملی:</span>
                    <input class="input1" type="text" name="national_code" value="{{ form.national_code.value }}"
                           readonly>
                </div>
                <button class="button" type="submit">ذخیره تغییرات</button>
            </div>
        </form>


    </div>
</div>




<script src="{% static 'registration/profile/js/profile.js' %}"></script>
</body>
</html>