{% load widget_tweaks %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>پروفایل</title>
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
    <link href="{% static 'registration/profile/css/profile.css' %}" rel="stylesheet">

    <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/conect.css' %}" rel="stylesheet">
    <link href="{% static 'error/error.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">
</head>
<body>
{% include 'course/navbar.html' %}
    <div>  {% include 'includes/messages_block.html' %}</div>


<div class="body">
    <div class="container_conect">




        <form method="post" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
   <div class="content-left-title">
           <h2 class="title">پروفایل کاربری</h2>

        </div>
            <div class="user-details">
                <div class="input-box">
                    <span class="detail">ایمیل:</span>
                    {{ form.email|add_class:'input' }}
                    {% if form.email.errors %}
                        <div class="error_message">
                            {{ form.email.errors }}
                        </div>
                    {% endif %}
                </div>




                <div class="input-box">
                    <span class="detail">نام کاربری:</span>
                    {{ form.username|add_class:'input' }}
                    {% if form.username.errors %}
                        <div class="error_message">
                            {{ form.username.errors }}
                        </div>
                    {% endif %}
                </div>


                <div class="input-box">
                    <span class="detail">نام:</span>
                    {{ form.first_name|add_class:'input' }}
                    {% if form.first_name.errors %}
                        <div class="error_message">
                            {{ form.first_name.errors }}
                        </div>
                    {% endif %}
                </div>


                <div class="input-box">
                    <span class="detail">نام خانوادگی:</span>
                    {{ form.last_name|add_class:'input' }}
                    {% if form.last_name.errors %}
                        <div class="error_message">
                            {{ form.last_name.errors }}
                        </div>
                    {% endif %}
                </div>

                <div class="input-box">
                    <span class="detail3">شماره موبایل:</span>
                    <input class="input3" type="text" name="phone_number" value="{{ form.phone_number.value }}"
                           {% if form.phone_number.value %}readonly{% endif %}>
                </div>



                <div class="input-box">
                    <span class="detail3">کدملی:</span>
                    <input class="input3" type="text" name="national_code" value="{{ form.national_code.value }}"
                           readonly>
                </div>
             {% include 'captcha/captcha.html' %}

                <button class="button" type="submit">ذخیره تغییرات</button>
            </div>
        </form>

</div>
    </div>



{% include 'course/footer.html' %}
<script src="{% static 'registration/profile/js/profile.js' %}"></script>
</body>
</html>