

{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link href="{% static 'blog/css/activation.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">
<p>
پوزش بابت عدم امکان ثبت نام

با سلام و ارادت به شما،

متاسفانه در حال حاضر امکان ثبت نام در سایت ما فعال نمی‌باشد.

لطفاً برای کسب اطلاعات بیشتر یا در صورت وجود سوالات، با تیم پشتیبانی تماس بگیرید. ما سعی خواهیم کرد تا در اسرع وقت این موضوع را بررسی کرده و شما را در جریان قرار دهیم.

از صبر و درک شما سپاسگزاریم.

با احترام،</p>











    </div>
</body>
</html>
