{% load static %}
{% load widget_tweaks %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>باز یابی رمز عبور</title>
    <link href="{% static 'blog/css/password_reset.css' %}" rel="stylesheet">
    <link href="{% static 'blog/css/rtl.css' %}" rel="stylesheet">
</head>
<body>
<div class="container">
    <div class="title">ارسال لینک بازیابی</div>
    <form method="post">
        <div class="user-details">
            <div class="input-box">

                <div class="input-box">
                        {% csrf_token %}
                        <span class="detail"> بازیابی رمز عبور </span>
                        {{ form.email|add_class:'input' }}<br>
                        {% if form.email.errors %}
                            {{ form.email.error }}
                        {% endif %}

                        <div class="button">
                            <button type="submit">ارسال لینک بازیابی</button>
                        </div>
                        <br>
                </div>


            </div>
        </div>


    </form>
</div>
</body>
</html>