<!doctype html>
<html dir="rtl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ارسال لینک با موفقیت ارسال شد</title>
</head>
<body>
<div>
 <h1>  تقاضای ریست رمز فرستاده شد</h1>
    <p>دستورالعمل تنظیم گذر واژه را برایتان ایمیل کردیم </p>
</div>
</body>
</html>



{% load static %}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>ارسال لینک با موفقیت ارسال شد</title>
    <link href="{% static 'blog/css/activation.css' %}" rel="stylesheet">

</head>
<body>
<div class="container">
<p>

<div>
 <h1>  تقاضای ریست رمز فرستاده شد</h1>
    <p>دستورالعمل تنظیم گذر واژه را برایتان ایمیل کردیم </p>
</div>
</p>









    </div>
</body>
</html>