@font-face {
    font-family: myFont;
    src: url("/static/blog/font/Vazir.woff");
    /*src: url("/static/main_app/fonts/BTitrBd.ttf");*/

}
*{    font-family: 'myFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    /*background:linear-gradient(135deg,#71b7e6,#9b59b6);*/
    background:#eee ;
}
.container{
    max-width: 700px;
    width: 100%;
    background: #fff;
    padding: 25px 30px;
    border-radius: 20px;
       box-shadow: 0 15px 50px rgba(0,0,0,.2);
        margin-top: 296px;
    margin-bottom: 100px;
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
   right: 0; bottom: 0;
    height: 3px;
    width: 25px;
    /*background:linear-gradient(135deg,#71b7e6,#9b59b6) ;*/
    background: #eee;
}
.container form .user-details{
    display: flex;
    flex-wrap:wrap ;

}
form .user-details .input-box{
    margin: 20px 15px 12px 0;
    width:calc(100%/2 - 20px);
}
.user-details .input-box .detail{

    font-weight: 500;
    margin-bottom: 5px;
    display: block;

}
.user-details .input-box .input{
    height: 45px;
    width: 100%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;
    padding-right: 10px;


}
.user-details .input-box .input:focus,
.user-details .input-box .input:valid{
    border-color: #9b59b6;

}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button button{
      height: 55px;
    width: 643px;
    outline: none;
    color: #eee;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
    background:linear-gradient(135deg,#71b7e6,#9b59b6);
        transition: all 0.2s ease;
}
form .button button:hover{
        background:linear-gradient(-135deg,#71b7e6,#9b59b6);
}
form .button button:active{
    transform: scale(0.96);
}
.gender_details{
    display: flex;
    flex-direction: column;
    gap: 12px;
    margin-top: 17px;
    padding-right: 20px;
}
.category{
        display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}
.gender_title{
        font-size: 18px;
}
@media (max-width:484px) {
.container{
    max-width: 100%;
}
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
.container form .user-details{
    max-height: 300px;
    overflow: scroll;
}
.user-details::-webkit-scrollbar{width: 0}

}
.error {
        border-color: red;
    color: #ffff;
    background-color: #f94545b8;
    width: 691px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;

    border-bottom-color: #470000;
}
.error_message{
        color: red;
}
.error_message{
    padding-right: 23px;
}