*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(#ffdad5,#fff7f9);

}

.content-container{
    height:100vh;
    display:flex;

    align-items:center;
    justify-content:space-evenly;
}
.content-left{
    display: flex;
flex-direction:column ;
    align-items: start;
    gap: 20px;
}
.content-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.content-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color:#a363aa ;
    border-bottom: 20px;
    border-radius: 10px;
}
.input{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.texterea{
       width: 400px;

    border: none;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;

height: 140px;
    padding-top: 15px;
    border-radius: 20px;

}
.input:focus,
.texterea:focus{
    border:2px solid #ff994f;

}
label{
    color: #ff994f;
}
.submit{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap:10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#fa6d86);
}