@font-face {
    font-family: myFont;
    src: url("/static/course/font/Vazir.woff");
    /*src: url("/static/main_app/fonts/BTitrBd.ttf");*/

}

* {
    font-family: 'myFont', Arial, sans-serif;
}

.body {
    width: 100%;
    min-height: 71vh;
}

.header {
    padding: 0px 45px 0px;
    height: 67px;
}

.container_post {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 30px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: flex-end;
    align-items: center;
    border: 2px solid blue;
    border-radius: 15px;
    padding: 43px;
    font-size: 21px;
    margin: 50px;
}

.title {
    color: #386fb3;
}

.img {
    border-radius: 15px;
}

.conten_post {
    background-color: white;
    border-radius: 15px;
    padding: 15px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, .03);
    display: flex;
    border-bottom: none !important;
    margin-bottom: 0 !important;
}

.title {
    cursor: pointer;
    margin-inline-start: 15px;
    width: 100%;
    font-size: 1.5rem;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
    margin-top: 5px;

    line-height: 28px;
    font-weight: 500;
    color: #386fb3;
}

.title:hover {
    color: black;
}

.flex {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 22px;
}

.img {
    width: 50%;
    height: 50%;
    border-radius: 15px;
    position: relative;

}

.created_at {
    font-size: 13px;
    color: #8b7979;
}


@media (max-width: 550px) {
    .conten_post {
        flex-direction: column !important;
    }

    /*.conten {*/
    /*    flex-direction: column!important;*/
    /*}*/
    .img {
        width: 100% !important;
        height: 51% !important;
    }

    .title {
        font-size: 2rem !important;
    }
}

@media (max-width: 590px) {
    .header .logo i {
        font-size: 2.5rem;

    }
}


@media (max-width: 428px) {
    .container_post {
         grid-template-columns:none;
    }



}