{% load static %}

<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>دروس انتخاب شده</title>
    <link rel="stylesheet" href="{% static 'course/css/choice.css' %}">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">

</head>
<body>
<main class="table">
    <section class="table_header">
        <a href="{% url 'course:home' %}" class="logo"><i class="fas fa-shopping-basket">مرکز فنی حرفه ای ۱۴ جم</i></a>
        <h>آموزشگاه های آزاد جم</h>
    </section>
    <section class="table_body">

        <table>
            <thead>
            <tr>

                <th>نام آموزشگاه</th>
                <th>نام موسس</th>
                <th>تلفن تماس</th>
                <th>رشته آموزشی</th>
                <th>جنسیت کارآموز</th>
                <th>آدرس</th>
                <th>موقعیت مکانی در نقشه</th>

            </tr>
            </thead>
            <tbody>
            {% for academy in academy_list %}
                <tr>
                    <td>{{ academy.name }}</td>

                    <td>{{ academy.founder }}</td>
                    <td>{{ academy.phone_number }}</td>
                    <td>{{ academy.field }}</td>
                    {% if academy.gender == 'w' %}
                        <td>زن</td>
                    {% elif academy.gender == 'm' %}
                        <td>مرد</td>
                    {% elif academy.gender == 'wm' %}
                        <td>زن و مرد</td>
                    {% endif %}

                    <td>{{ academy.address }}</td>
                    <td> <a href="{{ academy.location_link }}"><svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg></a></td>


                </tr>
            {% endfor %}
            </tbody>
        </table>
    </section>

</main>
</body>
</html>