
{% load static %}
{% load widget_tweaks %}

<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <link href="{% static 'gallery/css/add_img.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/rtl.css' %}" rel="stylesheet">
   <link href="{% static 'course/css/home.css' %}" rel="stylesheet">
    <link href="{% static 'course/css/footer.css' %}" rel="stylesheet">

    <title>آپلود تصویر جدید</title>
</head>
<body>
<div>{% include 'course/navbar.html' with current_date=current_date %}</div>
<div>  {% include 'includes/messages_block.html' %}</div>
<div class="cont">

<div class="body">

    <div class="container">

        <div class="title">گالری</div>
        <form method="post" enctype="multipart/form-data" novalidate>
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div>
                    {% for error in form.non_field_errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
            <div class="user-details">


                <div class="input-box">
                    <span class="detail">تصویر:</span>
                    {{ form.image|add_class:'input' }}
                    {% if form.image.errors %}
                        <div class="error_message">
                            {{ form.image.errors }}
                        </div>
                    {% endif %}


                </div>

                <br>


                <div class="input-box">

                    <span class="detail">عنوان:</span>
                    {{ form.title|add_class:'input' }}
                    {% if form.title.errors %}
                        <div class="error_message">
                            {{ form.title.errors }}
                        </div>
                    {% endif %}
                </div>

                <br>


                <div class="input-box">
                    <span class="detail">توضیحات:</span>

                    {{ form.description|add_class:'input00' }}

                    {% if form.description.errors %}
                        <div class="error_message">
                            {{ form.description.errors }}
                        </div>
                    {% endif %}
                </div>
                <br>


                <div class="button">
                   <button type="submit">آپلود</button>
                </div>


            </div>
        </form>

    </div>
</div>
</div>
{% include 'course/footer.html' %}
</body>
</html>