{% load static %}

<div class="footer">


<div class="containe">
    <div class="content">
        <div class="conect">
            <div>آدرس : بوشهر، چهار راه فضیلت، خیابان جمهوری، اداره کل آموزش فنی و حرفه ای استان بوشهر</div>
            <div>صندوق پستی : 7514869971</div>
            <div>دبیرخانه : 33340214-077</div>
            <div>فاکس دبیرخانه : 33320864-077</div>
            <div>پست الکترونیکی : omomi.ravabet@chmail.ir</div>
            <div>تلفن تماس : 33340214-077</div>
        </div>
        <div class="amar">

        </div>
        <div class="logo">
            <img src="{% static 'access/img/footer-logo bo.png' %}">
<div class="google-map">
    <div class="map-item">
        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6">
              <path stroke-linecap="round" stroke-linejoin="round" d="M15 10.5a3 3 0 11-6 0 3 3 0 016 0z"></path>
              <path stroke-linecap="round" stroke-linejoin="round" d="M19.5 10.5c0 7.142-7.5 11.25-7.5 11.25S4.5 17.642 4.5 10.5a7.5 7.5 0 1115 0z"></path>
            </svg>
        <a href="https://www.google.com/maps/place/%D9%85%D8%B1%DA%A9%D8%B2+%D8%A2%D9%85%D9%88%D8%B2%D8%B4+%D9%81%D9%86%DB%8C+%D9%88+%D8%AD%D8%B1%D9%81%D9%87%E2%80%8C%D8%A7%DB%8C+%DB%B1%DB%B4+%D8%AC%D9%85%E2%80%AD/@27.8251413,52.3250281,19z/data=!4m6!3m5!1s0x3e4da3fc1963ce3b:0xdee1201e99b389e7!8m2!3d27.8251538!4d52.3253254!16s%2Fg%2F11s3chsq4q?entry=ttu" aria-label="ariaLabel">موقعیت در نقشه گوگل  </a>
    </div>
</div>
        </div>
    </div>
    <div class="rezome">
© کلیه حقوق اطلاعات و مطالب این سایت محفوظ و متعلق می باشد به
    </div>
</div>
    </div>