{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>رزومه من</title>
    <link rel="stylesheet" href="{% static 'rezome/rezome.css' %}">
    <link href="{% static 'blog/css/rtl.css' %}">
</head>
<body>
<div class="container">
    <div class="content_right">
        <header class="header">
            <h1>تینا امینی</h1>
        </header>
        <div class="section_secend">
            <section id="personal-info">
                <h2>اطلاعات پایه</h2>
                <br>
                <div class="info"> <span class="infoo">آدرس ایمیل:</span>
                    <span>tina.amini.b@gmail.com</span>

                </div>
                <br>
                <div class="info"><span class="infoo">وضعیت تاهل:</span>
                    <span>متاهل</span>

                </div>
                <br>

                <div class="info"> <span class="infoo">تاریخ تولد:</span>
                    <span>۱۳۷۶/۱۲/۱۳</span>

                </div>
                <br>
                <div class="info">  <span class="infoo">گیت:</span>
                    <span><a href="https://github.com/tinaamini">https://github.com/tinaamini</a></span>


                </div>
            </section>
            <section id="skills">
                <h2>مهارت‌ها</h2>
                <br>
                <div class="info">
    <span>HTML</span>
            <span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span></span>
            </span>

                </div>
                <br>
                <div class="info">
   <span>CSS</span>
            <span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span></span>
                <span></span>
            </span>

                </div>
                <br>
                <div class="info">
         <span>PYTHON</span>
            <span><span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span></span>
                <span></span></span>

                </div>
                <br>
                <div class="info">
      <span>DJANGO</span>
            <span><span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span></span>
                <span></span></span>

                </div>

                <br>
                <div class="info">
      <span>DOCKER</span>
            <span><span class="skill"></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span></span>

                </div>
                <br>
                <div class="info">
    <span>JAVASCRIPT</span>
            <span><span class="skill"></span>
                <span class="skill"></span>
                <span class="skill"></span>
                <span></span>
                <span></span></span>

                </div>
                <br>

            </section>
        </div>
    </div>
    <div class="content_left">
        <img src="{% static 'blog/img/IMG_20230726_095159.jpg' %}">
        <section id="experience">
            <h2>درباره من</h2>
            <div>

                <p>اینجانب پس از چهار سال تحصیل در رشته بیوتکنولوژی، کشف کردم که علاقه زیادی به برنامه نویسی دارم. پس از
               ورود به این حوزه فراگیر و پر از چالش، اکنون به مدت دو سال به عنوان یک برنامه‌نویس فعالیت می‌کنم .

                  </p>
            </div>
        </section>
        <section id="education">
            <h2>تحصیلات</h2>
            <h3> کارشناس بیوتکنولوژی</h3>
            <di>دانشگاه:</di>
            <di>علوم پایه مشهد</di>
            <br>
            <di>از تاریخ:</di>
            <di>۱۳۹۵/۷</di>
            <br>
            <di>تا تاریخ:</di>
            <di>۱۳۹۹/۳</di>

            <br>
        </section>

        <section id="experience">
            <h2>مدارک :</h2>
            <div>کارشناسی بیوتکنولوژی</div>
            <div>فنی و حرفه ای:پایتون</div>

            <div>فنی و حرفه ای:جنگو</div>

            <div>فنی و حرفه ای:علوم داده</div>

            <div></div>


        </section>




    </div>
</div>
</body>
</html>
