@font-face {
    font-family: myFont;
    src: url("/static/course/font/Vazir.woff");
    /*src: url("/static/main_app/fonts/BTitrBd.ttf");*/

}
*{    font-family: 'myFont', Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{

    height: 100vh;

    background:#eee;
}
.body{
        display: flex;
    align-items: center;
    justify-content: center;
        padding: 99px;
}
.container{
    max-width: 700px;
    width: 100%;

    padding: 25px 30px;

     background:#eee;
    box-sizing:border-box;
    border-radius: 10px;
    box-shadow: 0 15px 50px rgba(0,0,0,.2)
}
.container .title{
    font-size: 25px;
    font-weight: 500;
    position: relative;
}
.container .title::before{
    content: '';
    position: absolute;
   right: 0; bottom: 0;
    height: 3px;
    width: 25px;
    background: #1111bd;
}
.container form .user-details{
    display: flex;
    flex-wrap:wrap ;

}
form .user-details .input-box{
    margin: 20px 15px 12px 0;
    width:calc(100%/2 - 20px);
}
.user-details .input-box .detail{
 font-size: 18px;
    font-weight: 500;
    margin-bottom: 5px;
    display: block;
        color: #2626a3;

}
.user-details .input-box .input{
   height: 37px;
    width: 192%;
    outline: none;
    border-radius: 5px;
    border: 1px solid #ccc;
    padding-left: 15px;
    font-size: 16px;
    border-bottom-width: 2px;
    transition: all 0.3s ease;


}
.user-details .input-box .input:focus,
.user-details .input-box .input:valid ,
.user-details .input-box .input1:focus,
.user-details .input-box .input1:valid{
    border-color: #001180;

}
form .button{
    height: 45px;
    margin: 45px 0;
}
form .button button{
      height: 55px;
    width: 576px;
    outline: none;
    color: #eee;
    border: none;
    font-size: 18px;
    font-weight: 500;
    border-radius: 5px;
    letter-spacing: 1px;
   background: linear-gradient(135deg, #718ce6, #05138d);
}
form .button button:hover{
    background: linear-gradient(-135deg, #718ce6, #05138d);
}
@media (max-width:484px) {
.container{
    max-width: 100%;
}
    form .user-details .input-box{
        margin-bottom: 15px;
        width: 100%;
    }
.container form .user-details{
    max-height: 300px;
    overflow: scroll;
}
.user-details::-webkit-scrollbar{width: 0}

}
.comment{
    color: green;
    background-color: #adcdad;
    width: 373px;
    height: 49px;
    padding-top: 15px;
    text-align: center;
    /* margin-top: 50px; */
    /*margin-right: 95px;*/
    margin-bottom: 32px;
    border-radius: 5px;}

.alert-error {
    background-color: #ff00009c;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    /* width: 462px; */
    /* border-radius: 11px; */
    color: #ffffff;
    /* border: 1px solid; */
    font-size: 18px;
}

.alert-success {
    background-color: #9ADE7B;
    height: 50px;
    text-align: center;
    padding-top: 15px;
    color: #ffffff;
    font-size: 18px;
}

.error {
    border-color: red;
    color: #ffff;
    background-color: #f94545b8;
    width: 691px;
    height: 50px;
    text-align: center;
    padding-top: 16px;
    margin-bottom: 20px;
    margin-top: 20px;
    border-radius: 8px;

    border-bottom-color: #470000;
}

.error-message {
    color: red;
}

.error-message {
    padding-right: 23px;
}