{% load static %}
{% load widget_tweaks %}

   <link href="{% static 'utils/captcha/css/captcha.css' %}" rel="stylesheet">
     <div id="captcha">

                <label for="captcha_input">کد امنیتی:</label>

                <div class="captcha_form">
                     {{form.captcha|add_class:'captcha_field'}}
                    <button class="captcha_refresh">
                    <img src="{% static 'utils/captcha/svg/refresh.svg' %}">
                    </button>
                </div>
          {% if form.captcha.errors %}
                        <div class="error_message">
                            {{ form.captcha.errors }}
                        </div>
                    {% endif %}


            </div>


<script src="{% static 'utils/captcha/js/captcha.js' %}"></script>
