{% load static %}


   <link href="{% static 'utils/captcha/css/captcha.css' %}" rel="stylesheet">
     <div class="captcha">
                <label for="captcha_input">کد امنیتی:</label>
                <div class="preview"></div>
                <div class="captcha_form">
                    <input type="text" id="captcha_form" placeholder=" کد امنیتی را وارد کنید">
                    <button class="captcha_refresh">
                    <img src="{% static 'utils/captcha/svg/refresh.svg' %}">
                    </button>
                </div>
          {% if form.captcha.errors %}
                        <div class="error_message">
                            {{ form.captcha.errors }}
                        </div>
                    {% endif %}


            </div>


<script src="{% static 'utils/captcha/js/captcha.js' %}"></script>